-var images = [require("../images/apple1.jpg"), 
-require("../images/samsung1.jpg"), 
-require("../images/google1.jpg"),
-require("../images/honor1.jpg")]

.gallery
    each image in images
        img(src=image)

.container

.content
    h2.title Лучшие флагманские смартфоны

    p.description
        | В данную группу смартфонов входят наиболее передовые устройства с максимальной производительностью,
        | дисплеем высокого разрешения, широкими возможностями в плане фото и видеосъемки и большим объемом памяти.
        | Такие смартфоны первыми получают инновационные технологии. Обратной стороной медали является высокая цена.

    .top
        img(src=require("../images/apple.jpeg"))
        .text-top
            h4 Apple iPhone 14 Pro Max
            p.description
                | Смартфон iPhone 14 Pro Max обрел улучшенную систему камер и дисплей с поддержкой функции Always-On.
                | Применен фирменный производительный чип A16 Bionic, содержащий шесть CPU-ядер, пять ядер GPU и 16-ядерный
                | нейронный блок.
                | Поддерживается беспроводная зарядка по стандарту Qi. Кроме того, у iPhone 14 Pro Max предусмотрена защита от
                | влаги и пыли IP68.
                ul  
                    li Операционная система: iOS 16;
                    li Дисплей: OLED, 6,7 дюйма, 2796×1290 пикселей;
                    li Платформа: Apple A16;
                    li Флеш-память: до 1 ТБ;
                    li Основная камера: 48 Мп;
                    li Фронтальная камера: 12 Мп;
                    li NFC: да;

    .bottom
        img(src=require("../images/samsung.jpeg"))
        .text-bottom
            h4 Samsung Galaxy S22 Ultra
            p.description
                | Смартфон Galaxy S22 Ultra получил стилус, который прячется в корпус. Здесь также мощный процессор с восемью
                | ядрами и все возможности экосистемы Samsung. Установлен дисплей Dynamic AMOLED 2X с технологией Vision Booster,
                | пиковой яркостью 1750 нит и адаптивной частотой обновления до 120 Гц. Реализована беспроводная зарядка Wireless PowerShare и
                | быстрая зарядка мощностью 45 Вт.
                ul
                    li Операционная система: Android 12;
                    li Дисплей: AMOLED, 6,8 дюйма, 3088×1440 точек (Quad HD+);
                    li Платформа: процессор Qualcomm Snapdragon 8 Gen1 или Samsung Exynos 2200;
                    li Флеш-память: до 1 ТБ;
                    li Основная камера: 108+12+10+10 Мп;
                    li Емкость аккумулятора: 5000 мАч;
                    li NFC: да;

    .top
        img(src=require("../images/honor.jpeg"))
        .text-top
            h4 Honor 70
            p.description
                | Обновление нашумевшего Honor 50. Первый в мире смартфон с сенсором Sony IMX800. Аппарат получил легкий и
                | тонкий корпус из стекла (178 г). С нуля до 60% заряжается за 20 минут, до 100% — за 45 минут. Есть стереодинамики и встроенный в дисплей сканер
                | отпечатков пальцев. Смартфоны Honor 70 поддерживают работу в мобильных сетях 5G SA/NSA.
                ul
                    li Операционная система: Android 12;
                    li Дисплей: 6,67 дюйма, 2400×1080 точек;
                    li Платформа: Qualcomm Snapdragon 778G Plus;
                    li Флеш-память: до 256 ГБ;
                    li Основная камера: 54+50+2 Мп;
                    li Емкость аккумулятора: 4800 мАч;
                    li NFC: да;

    .bottom
        img(src=require("../images/google.jpeg"))
        .text-bottom
            h4 Google Pixel 7 Pro
            p.description
                | Google снова врывается в мир смартфонов. На этот раз — с продвинутой камерой с 5-кратным зумом, новым
                | дизайном и собственным процессором Google Tensor G2. Смартфоны данной серии используют новейшую версию Android. Частота обновления дисплея Pixel
                | 7 Pro варьируется в диапазоне от 10 до 120 Гц. У смартфонов предусмотрена защита от влаги и пыли по стандарту IP68.
                ul
                    li Операционная система: Android 13;
                    li Дисплей: 6,7 дюйма, 1440×3120 точек;
                    li Платформа: процессор Google Tensor G2;
                    li Флеш-память: до 512 ГБ;
                    li Основная камера: 50+48+12 Мп;
                    li Емкость аккумулятора: 5000 мАч;
                    li NFC: да;